.splashOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.splashImgDesktop {
  width: 800px;
  height: 600px;
}

.splashImgMobile {
  width: 240px;
  height: 400px;
}
