.splashOverlay {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  *, *:after, *:before {
    box-sizing: border-box;
  }
}

.splashOverlayContainer {
  position: relative;
  background-color: white;
}

.splashImgDesktop {
  width: 800px;
  height: 600px;
  float: left;
}

.splashImgMobile {
  width: 240px;
  height: 400px;
  float: left;
}
